* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0; }

p,
ol,
ul,
dl,
dd,
pre {
  margin: 0;
  padding: 0; }

li {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

em {
  font-style: inherit; }

strong {
  font-weight: inherit; }

:focus {
  outline: 0; }

a img {
  border: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

[hidden] {
  display: none; }

button,
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
  margin: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  margin: 0;
  background: transparent;
  color: #666666; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

textarea {
  vertical-align: top; }

input::-webkit-input-placeholder {
  color: inherit; }
input:-moz-placeholder {
  color: inherit; }

input,
textarea {
  border: 0;
  color: inherit; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  display: block;
  width: 100%;
  -webkit-appearance: none; }

html {
  font-size: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, "Courier New", monospace; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

body {
  background: #f7f7f7;
  color: #666666; }

.h1 {
  font-family: "myriad-pro", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #1358cd; }
  @media (min-width: 481px) {
    .h1 {
      font-size: 36px;
      line-height: 40px; } }

.h1-withSpacing {
  margin: 40px 0 20px; }

.h2, .benefits-heading, .contactMethod {
  font-family: "myriad-pro", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #2683ff; }
  @media (min-width: 481px) {
    .h2, .benefits-heading, .contactMethod {
      font-size: 24px;
      line-height: 30px; } }

.h2-withSpacing, .benefits-heading {
  margin: 20px 0 10px; }

.h3, .contactMethod-type {
  font-family: "myriad-pro", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #66b7ec; }
  @media (min-width: 481px) {
    .h3, .contactMethod-type {
      font-size: 18px;
      line-height: 20px; } }

.inlineContactInfo {
  float: right;
  margin: 4px 0;
  color: white;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
  .inlineContactInfo dt,
  .inlineContactInfo dd {
    display: inline; }
  .inlineContactInfo dt {
    font-size: 10px;
    line-height: 0;
    margin-left: 20px; }
  @media (min-width: 481px) {
    .inlineContactInfo {
      font-size: 14px;
      margin: 9px 0; }
      .inlineContactInfo dt {
        font-size: 12px;
        margin-left: 40px; } }

.logo {
  text-indent: -9999px;
  width: 136px;
  height: 40px;
  background-image: url(../../images/logo.svg);
  background-size: 100% 100%; }
  @media (min-width: 481px) {
    .logo {
      width: 204px;
      height: 60px; } }

.featureModule {
  zoom: 1;
  padding: 20px 0; }
  .featureModule:before, .featureModule:after {
    content: "";
    display: table; }
  .featureModule:after {
    clear: both; }
  @media (min-width: 481px) {
    .featureModule {
      padding: 40px 0; } }

.featureModule-img {
  display: none; }
  @media (min-width: 641px) {
    .featureModule-img {
      float: left;
      width: 33.33333%;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      left: 66.66667%;
      display: block; }
      .featureModule-img > img {
        margin-top: 40px; } }

.featureModule-bd {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 641px) {
    .featureModule-bd {
      float: left;
      width: 66.66667%;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      left: -33.33333%; } }

.featureModule-heading {
  font-size: 24px;
  line-height: 30px;
  font-family: "myriad-pro", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #2683ff;
  margin: 10px 0; }
  .featureModule-heading em {
    color: #1358cd; }
  @media (min-width: 481px) {
    .featureModule-heading {
      font-size: 60px;
      line-height: 70px;
      margin: 20px 0; } }

.featureModule-copy p {
  margin: 10px 0; }
@media (min-width: 481px) {
  .featureModule-copy {
    font-size: 18px;
    line-height: 30px; }
    .featureModule-copy p {
      margin: 20px 0; } }

@media (min-width: 641px) {
  .benefits {
    zoom: 1;
    margin-left: -10px;
    margin-right: -10px; }
    .benefits:before, .benefits:after {
      content: "";
      display: table; }
    .benefits:after {
      clear: both; } }

@media (min-width: 641px) {
  .benefits-item {
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px; } }

@media (min-width: 641px) {
  .benefits-heading {
    margin-top: 0; } }

@media (min-width: 641px) {
  .actions {
    zoom: 1;
    margin-left: -10px;
    margin-right: -10px; }
    .actions:before, .actions:after {
      content: "";
      display: table; }
    .actions:after {
      clear: both; } }

@media (min-width: 641px) {
  .actions-item {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px; } }

.contactMethod {
  margin: 10px 0; }

.formField-label {
  position: absolute;
  left: -9999px; }

.formField-textInput {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: white;
  padding: 10px;
  margin: 20px 0; }
  .formField-textInput::-webkit-input-placeholder {
    color: #b3b3b3; }
  .formField-textInput:-moz-placeholder {
    color: #b3b3b3; }
  .formField-textInput:focus {
    border-color: #c4c4c4; }

.formButtons-subscribeButton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #7ab317;
  background: -moz-linear-gradient(top, #99e01d, #7ab317);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99e01d), color-stop(100%, #7ab317));
  background: -webkit-linear-gradient(top, #99e01d, #7ab317);
  background: -o-linear-gradient(top, #99e01d, #7ab317);
  background: -ms-linear-gradient(top, #99e01d, #7ab317);
  background: linear-gradient(top, #99e01d, #7ab317);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99e01d', endColorstr='#7ab317',GradientType=0 );
  /* IE6-9 */
  -moz-box-shadow: inset 0 1px 0 #c2ed76;
  -webkit-box-shadow: inset 0 1px 0 #c2ed76;
  box-shadow: inset 0 1px 0 #c2ed76;
  padding: 10px 20px;
  color: white;
  text-shadow: 0 -1px 0 #5b8611;
  font-weight: bold;
  border: 1px solid #7ab317; }
  .formButtons-subscribeButton:hover, .formButtons-subscribeButton:focus {
    border-color: #5b8611; }
  .formButtons-subscribeButton:active {
    -moz-box-shadow: inset 0 1px 2px #5b8611;
    -webkit-box-shadow: inset 0 1px 2px #5b8611;
    box-shadow: inset 0 1px 2px #5b8611;
    border-color: #5b8611; }

#container {
  background: #f7f7f7 url(../../images/background.jpg); }

.l-gridContainer {
  zoom: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px; }
  .l-gridContainer:before, .l-gridContainer:after {
    content: "";
    display: table; }
  .l-gridContainer:after {
    clear: both; }

.l-gridContainer-inner {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

#topBar {
  background: #66b7ec;
  background: -moz-linear-gradient(top, #7dc2ef, #66b7ec);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7dc2ef), color-stop(100%, #66b7ec));
  background: -webkit-linear-gradient(top, #7dc2ef, #66b7ec);
  background: -o-linear-gradient(top, #7dc2ef, #66b7ec);
  background: -ms-linear-gradient(top, #7dc2ef, #66b7ec);
  background: linear-gradient(top, #7dc2ef, #66b7ec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dc2ef', endColorstr='#66b7ec',GradientType=0 );
  /* IE6-9 */
  border-top: 1px solid #aad7f4;
  border-bottom: 1px solid #39a2e6;
  overflow: hidden; }

#header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd; }
  @media (min-width: 481px) {
    #header {
      padding-top: 30px;
      padding-bottom: 30px; } }

#primaryContent {
  background-color: white;
  border-bottom: 1px solid #dddddd; }

#secondaryContent {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px; }
