.readingCopy {
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        
        @include mq-tablet-and-up {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}